.header-text {
    background-color: #f72210;
    z-index: 1;
}

.top-nav {
    background-color: #f72210;
}

.subscribe {
    height: 22%;
    border-radius: 0%;
    z-index: 5;
    background-color: white;
}

.border-right {
    color: red;
}